<div lang="en" th:fragment="footer">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="#">Impressum</a>
                    |
                    <a href="#">AGB</a>
                    |
                    <a href="#">Datenschutzbestimmungen</a> 
                </div>
                <div class="col-md-auto">
                    
                </div>
                <div class="col col-lg-2">
                    <a href="#"><i class="fa fa-twitter-square fa-3x align-middle text-info"></i></a>
                    <a href="#"><i class="fa fa-instagram fa-3x align-middle text-info"></i></a>
                    <a href="#"><i class="fa fa-facebook-square fa-3x align-middle text-info"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <script src="../static/js/bootstrap3-typeahead.min.js" th:src="@{/js/bootstrap3-typeahead.min.js}"></script>
    <script>
        $.get("/searchdata", function (data) {
            $(".typeahead").typeahead({
                source: data
            });
        }, 'json');
    </script>

</div>
