<span th:fragment="sucheingabe">
    <form action="/listing" method="get" class="form-inline mt-2 mt-md-0">
        <input 
            type="text" 
            class="typeahead mr-sm-2" 
            placeholder="PLZ oder Ort" 
            name="plz_ort" id="plz_ort" 
            required
            autocomplete="off"
            autofocus="on"/>

        <button type="submit" class="btn btn-success my-2 my-sm-0">Suche starten!</button>
        &nbsp;&nbsp;
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="checkbox" name="kategorie" id="Pizza" value="Pizza" autocomplete="off" checked> Pizza
            </label>
            <label class="btn btn-secondary">
                <input type="checkbox" name="kategorie" id="Burger" value="Burger" autocomplete="off"> Burger
            </label>
            <label class="btn btn-secondary">
                <input type="checkbox" name="kategorie" id="Indisch" value="Indisch" autocomplete="off"> Indisch
            </label>
            <label class="btn btn-secondary">
                <input type="checkbox" name="kategorie" id="Sushi" value="Sushi" autocomplete="off"> Sushi
            </label>
        </div>

    </form>
</span>
