<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->

    <body>

        <header>
            <!--/*/ <th:block th:include="fragments/navigation :: navi"></th:block> /*/-->
        </header>

        <!-- Begin page content -->
        <main role="main" class="container">
            <div class="row">
                <h2>Administration Lieferanten</h2> </div>
            <div class="row">
                <form th:action="@{/admin-lieferanten}" th:object="${lieferant}" method="POST">
                    <input type="hidden" th:field="*{id}">

                    <div class="form-group">
                        <label for="lieferantenname">Name des Lieferanten</label>
                        
                       <input type="text" class="form-control"  th:field="*{name}" placeholder="Name des Lieferanten" required>
                        <div class="p-3 mb-2 bg-danger text-white" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" >Platzhalter für Fehlertext</div>
                    </div>
                    <div class="form-group">
                        <label for="kategorie">Kategorie</label>
                        <select class="form-control" th:field="*{kategorie}">
                            <option th:each="kat : ${kategorien}" th:text="${kat}" th:value="${kat}" ></option>
                        </select>
                    </div>
                    
                    
                    
                    <div class="form-group">
                        <label for="telefon">Tel-Nr. des Lieferanten</label>
                        <input type="text" class="form-control"  th:field="*{telefon}" placeholder="Tel-Nr. des Lieferanten" required>

                            
                    </div>
                    

                    <div class="form-group">
                        <label for="webseite">Webseite</label>
                        <input type="text" class="form-control"   th:field="*{webseite}" placeholder="Webseite" required>
                        <div class="p-3 mb-2 bg-danger text-white" th:if="${#fields.hasErrors('webseite')}" th:errors="*{webseite}">
                            
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label for="speisekarte">Speisekarte</label>
                        <input type="text" class="form-control"  th:field="*{speisekarte}" placeholder="Speisekarte" required>
                     <div class="p-3 mb-2 bg-danger text-white" th:if="${#fields.hasErrors('speisekarte')}" th:errors="*{speisekarte}">
                     </div>    
                    </div>
                    <div class="form-group">
                        <label for="plz">Postleitzahl</label>
                        <input type="text" class="form-control"  th:field="*{plz}"   placeholder="Postleitzahl" required>
                    </div>
                    <div class="form-group">
                        <label for="ort">Ort</label>
                        <input type="text" class="form-control"  th:field="*{ort}" placeholder="Ort" required>
                    </div>






                    <button type="submit" class="btn btn-primary">Lieferant speichern</button>

                    <a href="/listing" class="btn btn.secondary">Abbrechen</a>



                </form>




            </div>






        </main>

        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

    </body>
</html>
