<!DOCTYPE html>
<html>
    <head>
        <title>Lecker Lecker</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.rawgit.com/kimeiga/bahunya/css/bahunya-0.1.2.css" />
    </head>
    <body>
        <main>
            <article>
                <h2>Meine Stadt</h2>

                <section>
                    <table>
                        <thead>
                            <tr>

                                <th>Lieferant</th>
                                <th>Kategorie</th>
                                <th>Webseite</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${lieferanten}" th:each="lieferant : ${lieferanten}">
                                <td th:text="${lieferant.name}"></td>
                                <td th:text="${lieferant.kategorie}"></td>
                                <td>
                                    <a th:href="${lieferant.webseite}" th:text="${lieferant.webseite}" target="_blank">Zur Webseite</a>
                                    
                                </td>



                            </tr>

                        </tbody>


                    </table>


                </section>
            </article>
        <article>
                <section>

                    <iframe 
                        marginheight='0' 
                        marginwidth='0' 
                        scrolling='no' 
                        width='300' 
                        height='310' 
                        name='FC2' 
                        style='border:1px solid;border-color:transparent;' 
                        src='https://api.wetteronline.de/wetterwidget?gid=10471&modeid=FC2&seourl=leipzig&locationname=Hawaii'></iframe>

                </section>
            </article>
        </main>
    </body>
</html>