<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

    <th:block th:include="fragments/header :: head"></th:block>

    <body>

        <header>

        </header>

        <!-- Begin page content -->
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <img src="images/logo.png" style="max-width: 100%; height: auto;" /><br/>
                    <div class="text">
                        <form action="/listing" method="get">
                            <input type="text" class="form-control" placeholder="PLZ oder Ort" name="plz_ort" id="plz_ort" />
                        </form>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </main>

        <th:block th:include="fragments/footer :: footer"></th:block> 

    </body>
</html>
