<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->

    <body>

        <header>
            <!--/*/ <th:block th:include="fragments/navigation :: navi"></th:block> /*/-->
        </header>

        <!-- Begin page content -->
        <main role="main" class="container">
            <div class="row">
                <h2>Liste der Suchergebnisse für Eingabe: <span th:text="${sucheingabe}"></span></h2>

                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Lieferant</th>
                            <th scope="col">Telefon</th>
                            <th scope="col">Webseite</th>
                            <th scope="col">Speiseplan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">Hallo Pizza</td>
                            <td>0341 / 665 88745</td>
                            <td><a href="https://www.hallopizza.de/" target="_blank">www.hallopizza.de</a></td>
                            <td><a href="https://www.hallopizza.de/leipzig-connewitz/aktion/f%C3%9Crengelszungen" target="_blank"><i class="fa fa-cutlery fa-2x" aria-hidden="true"></i></a></td>
                        </tr>
                        <tr>
                            <td scope="row">Hallo Pizza</td>
                            <td>0341 / 665 88745</td>
                            <td><a href="https://www.hallopizza.de/" target="_blank">www.hallopizza.de</a></td>
                            <td><a href="https://www.hallopizza.de/leipzig-connewitz/aktion/f%C3%9Crengelszungen" target="_blank"><i class="fa fa-cutlery fa-2x" aria-hidden="true"></i></a></td>
                        </tr>
                        <tr>
                            <td scope="row">Hallo Pizza</td>
                            <td>0341 / 665 88745</td>
                            <td><a href="https://www.hallopizza.de/" target="_blank">www.hallopizza.de</a></td>
                            <td><a href="https://www.hallopizza.de/leipzig-connewitz/aktion/f%C3%9Crengelszungen" target="_blank"><i class="fa fa-cutlery fa-2x" aria-hidden="true"></i></a></td>
                        </tr>
                    </tbody>
                </table>
                
                
                
            </div>
        </main>

        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

    </body>
</html>
