<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->

    <body>

        <header>
            <!--/*/ <th:block th:include="fragments/navigation :: navi"></th:block> /*/-->
            <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet"/>
        </header>

        <!-- Begin page content -->
        <main role="main" class="container">

            <div th:if="${meldung}" th:text="${meldung}" class="alert alert-success" role="alert">
                This is a success alert—check it out!
            </div>


            <div class="row">
                <h2 th:if="${sucheingabe}">Liste der Suchergebnisse für Eingabe: <span th:text="${sucheingabe}"></span></h2>

                <table id="lieferanten" class="cell-border stripe hover order-column">
                    <thead>
                        <tr>
                            <th scope="col">Lieferant</th>
                            <th scope="col">Logo</th>
                            <th scope="col">Telefon</th>
                            <th scope="col">Webseite</th>
                            <th scope="col">Ort</th>
                            <th scope="col">Speiseplan</th>
                            <th scope="col">Kategorie</th>
                            <th sec:authorize="hasRole('ADMIN')" scope="col">Aktion</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr th:if="${suchergebnisse}" th:each="lieferant : ${suchergebnisse}">
                            <td scope="row" th:text="${lieferant.name}">Hallo Pizza</td>
                            <td>
                                <img th:src="@{'data:image/jpeg;base64,'+${lieferant.logoFile}}" height="60" width="60"/><br/>
                            </td>
                            <td th:text="${lieferant.telefon}">0341 / 665 88745</td>
                            <td th:text="${lieferant.kategorie}">Kategorie</td>
                            <td>
                                <a th:text="${lieferant.webseite}" th:href="${lieferant.webseite}" target="_blank">text</a>
                            </td>
                            <td scope="row" th:text="${lieferant.ort}">Ort</td>


                            <td> 
                                <a th:href="${lieferant.speisekarte}" target="_blank">
                                    <i class="fa fa-cutlery fa-2x" arial-hidden="true"></i>
                                </a>


                            </td>    
                            
                            <td sec:authorize="hasRole('ADMIN')">
                                <a th:href="@{'/loeschen?lid=' + ${lieferant.id}}"
                                   th:onclick="'return confirm_click(\'' + ${lieferant.name} + '\'); '" >

                                    <i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
                           
                                    

                                <a th:href="@{'/bearbeiten?bid=' + ${lieferant.id}}"
                                  
                                    <i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>
                            </td>



                        </tr>


                        <tr th:if="${suchergebnisse.empty}">
                            <td colspan="6">Keine Lieferanten gefunden!</td>
                        </tr>


                    </tbody>
                </table>



            </div>
        </main>

        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>

        <script type="text/javascript">
            $(document).ready(function(){
                $('#lieferanten').DataTable();

            });
            function confirm_click(lieferant){
                return confirm("lieferant" + lieferant + "wirklich löschen?");
            }
        </script>

    </body>
</html>
