<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->

    <body>

        <header>
            <!--/*/ <th:block th:include="fragments/navigation :: navi"></th:block> /*/-->
        </header>

        <!-- Begin page content -->
        <main role="main" class="container">
            <div class="row">
                <h2>Liste der Suchergebnisse</h2>
            </div>
        </main>

        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

    </body>
</html>
